.game {
  width: 200px;
  text-align: center;
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  transition: transform 0.3s, background-color 0.3s;
  color: red;
  text-decoration: none;
  overflow: hidden;
}

.game img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.game:hover {
  transform: scale(1.1);
  background-color: red;
  color: black;
}

.game span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.game p {
  font-size: 12px;
  margin: 0;
}
